{% extends 'base.html' %}

{% block title %}Log In{% endblock title %}


{% block content %}
<div class="container">
  <div class="offset-md-1 row">
    <h1>Log In</h1>
  </div>
  <div class="row">
    <div class="offset-md-2 col-md-6" id="login">
      <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-success" value="Log In">
      </form>
    </div>
  </div>
  <div class="row">
    <div class="offset-md-2">
      <small>
        Forgot your password? <a href="{% url 'password_reset' %}">Click here</a> to reset it.
      </small>
    </div>
  </div>
</div>
{% endblock content %}